<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const config = <%- JSON.stringify(config || null) %>
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '<%= config.fbAppId%>',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="919078364542-ocsa0n5s9de1c6csma67mt53abacloe0.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/assets/client.js"></script>
    <style>
        h4{
            font-weight: 400;
        }
    </style>
</head>

<body>
    <h1>泛科知識會員系統嫁接示範網頁</h1>
    <section>
        <h2>授權碼模式</h2>
        <a href="<%=config.member.host%>oauth/authorize?client_id=<%= config.member.client_id %>&response_type=code&redirect_uri=<%= config.host %>callback&state=test">透過會員系統登入與註冊</a>
        <h4>
            補充說明：<br>
            redirect_uri 參數必須等同於會員系統的設定，可用可不用 encodeURIComponent()跳脫，但注意URI不可以夾帶其他參數，如 http://wrong.com?error=nomoredata <br>
            如果希望redirect_uri回呼時夾帶參數，唯一會額外挾帶的參數是 state，state參數是用來避免CSRF攻擊，詳細參考 <a href="https://developers.google.com/identity/protocols/OpenIDConnect#createxsrftoken">Google State參數說明</a> <br>
            正確使用為 ...redirect_uri=http://callback&state=helloword
        </h4>
    </section>
    <section>
        <h2>直接從客戶端直接操作會員 登入/註冊 API</h2>
        <button id="client-ajax-login">會員登入</button>
        <button id="client-fb-login">FB會員登入</button>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <button id="client-sniff">打聽用戶是否登入</button>
        <h4>
            可直接從客戶端直接對會員系統下AJAX API 登入/註冊<br> 
            需注意 <span style="color: red">拿到access token 必須從 服務器端向會員系統取得資料</span> <br>
            如要同步登入會員系統，記得XHR要加上 withCredential
        </h4>
    </section>
    <section>
        <h2>服務端端操作登入/註冊/取得用戶資料</h2>
        <button id="server-login">會員登入</button>
        <button id="server-fb-login">FB會員登入</button>
        <h4>
            備註：<br>
            FB 會員登入可以綁定任意的FB應用程式，會員系統會驗證並透過FB Access Token再去索取用戶資料。<br>
            記得FB登入必須至少索取 email, public_profile 權限。<br>
            Google登入方式雷同，請參考範例取得基本權限。
        </h4>
    </section>
</body>

</html>